body {
    background-color: #ff976b;
    color: #322e6f;
    margin: 0;
    min-width: 600px;  
}


nav {
    display: flex;
    flex-wrap: wrap;
    background: none;
    width: 100%;
    padding: 5px 0px;
    align-items: center;
    justify-content: center;
}

.nav_link, nav_link:visited{
    color: white;
    font-family: "Roboto Light";
    font-size: 1.5em;
    font-weight: 600;
    flex: 1 1 32%;
    text-decoration: none;
    text-align: center;
}

.nav_link:hover {
    color: #322e6f;
}

.nav_link:active {
    color: #000322;
}

header {
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: white;
    font-weight: 1200;
    font-size: 3em;
    font-family: "Droid Sans";
    background: none;
    margin-top: 30px;
    padding-top: 30px;
}

#aboutMeHeader {
    color:white;
    padding: 0px;
    text-align: center;
    font-size: 24px;
}

#navPlusHeader {
    background-image: url("Images/cool_background.jpg");
    height: 395px;
    width: 100%;
}

.blurb {
    width: 70%;
    min-width: 250px;
    max-width: 600px;
    margin: 15px auto;
}

p, h2, h4 {
    padding-left: 5px;
}

footer {
    background-color: #ff976b;
    color: #322e6f;
    height: 2em;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    text-align:center;
    
}

.portfolio_image {
    width: 30%;
}


.projects {
    display: flex;
    justify-content:center;
    align-items:flex-end;
}

.project {
    flex: 1 1 30%;
    
}

#about {
    position: relative;
    text-align: justify;
    flex-wrap: wrap;
}

.mic_image {
    width: 280px;
    display: block;
    margin: 25px auto;
    
}

.project_text {
    text-align: center;
}

.portfolio_image {
    display: block;
    margin: 0 auto;
}

.open-window {
    margin-top: 10px;
    background-color: #ff976b;
    border: solid 0.1px;
    color: #fff;
    font-weight: 800;
}

.open-window:hover {
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.24), 0 5px 20px 0 rgba(0,0,0,0.19);
}

.button {
    display: flex;
    justify-content:center;
    align-items:flex-end;
}

#contacts {
    margin-top: 75px;
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.window.active {
    transform: translate (-50%, -50%) scale(1);
}

.window-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.window-header .title {
    font-size: 1.25rem;
    font-weight: 800;
}

.window-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: 800;
}

.window-body {
    padding: 10px 15px;
}

.overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 9;
    transition: 200ms ease-in-out;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}